

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.app-container {
    /* height: 700px; */
    width: 600px;
    margin: 0 auto;
    border: 1px solid #F55A5A;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    color: #fff;
    height: 50px;
    width: 100%;
}

.cards-container {
    padding: 40px;
}

.card-container {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.card--right-content {
    display: flex;
    flex-direction: column;
    padding: 19px;
}

.card--image {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card--place {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    margin-right: 12px;
}

.card--view-google-map {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #918E9B;
}

.card--tourist-spot {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-top: 7px;
}

.card--date {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    margin-top: 18px;
}

.card--content {
    margin-top: 9px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}